* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "ALS Granate";
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
.header {
  padding-top: 26px;
  margin-bottom: 70px;
}

.header .header-nav {
  display: flex;
  align-items: center;
  margin-left: -70px;
}
.header-logo img {
  display: inline-block;
  width: 38px;
  height: 24px;
  margin-right: 30px;
}
.header-nav__list {
  display: flex;
  gap: 30px;
}

.header-nav__link {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.header-nav__link:hover {
  color: #0cbf8a;
}

/* actions */
.actions-block {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.default-btn {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.2;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #0ff3af;
  border-radius: 20px;
  padding: 10px 20px 10px 10px;
  margin-right: 150px;
}
.default-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.default-btn.add-release {
  max-width: 205px;
  margin-bottom: 55px;
}
.remove-trash {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-block {
  margin-right: 200px;
}
.search-block label {
  font-size: 18px;
  display: inline-block;
  font-weight: 500;
  margin-right: 11px;
}

.search-block input {
  font-size: 18px;
  display: inline-block;
  font-weight: 500;
  border-radius: 11px;
  color: #000;
  padding: 10px;
  border: 1px solid #d9d9d9;
}
.search-block input::placeholder {
  color: #000;
}
.search-block input:focus {
  outline: none;
}

.adv-search {
  font-size: 18px;
  color: #0cbf8a;
}

/* At Work */

.title h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.at-work-table {
  margin-bottom: 60px;
}
.at-work-table,
.completed-table {
  border-collapse: collapse;
}
.at-work-table tr,
.completed-table tr {
  position: relative;
}

.at-work-table tr::before,
.completed-table tr::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.25px;
  background-color: #bababa;
}
.at-work-table th,
.completed-table th {
  font-size: 12px;
  color: #a2a5ae;
  text-align: left;
  padding-bottom: 9px;
}

.at-work-table th:nth-child(2),
.at-work-table td:nth-child(2),
.completed-table th:nth-child(2),
.completed-table td:nth-child(2) {
  padding-right: 100px;
  padding-left: 15px;
}

.at-work-table th:nth-child(3),
.at-work-table td:nth-child(3),
.completed-table th:nth-child(3),
.completed-table td:nth-child(3) {
  padding-right: 130px;
}

.at-work-table th:nth-child(4),
.at-work-table td:nth-child(4),
.completed-table th:nth-child(4),
.completed-table td:nth-child(4) {
  padding-right: 145px;
}

.at-work-table th:nth-child(5),
.at-work-table td:nth-child(5),
.completed-table th:nth-child(5),
.completed-table td:nth-child(5) {
  padding-right: 100px;
}

.download-table td:nth-child(1),
.download-table td:nth-child(2),
.download-table td:nth-child(3),
.download-table td:nth-child(4),
.download-table td:nth-child(5),
.download-table td:nth-child(6) {
  padding: 18px 0;
}
.download-table th:nth-child(1),
.download-table th:nth-child(2),
.download-table th:nth-child(3),
.download-table th:nth-child(4),
.download-table th:nth-child(5),
.download-table th:nth-child(6) {
  padding: 0;
  padding-bottom: 10px;
}

.download-table td:nth-child(4) {
  width: 160px;
  padding-right: 30px;
}
.at-work-table td,
.completed-table td {
  font-size: 18px;
  color: #000;
  padding-top: 9px;
  padding-bottom: 9px;
}

.at-work-table td .table-avatar,
.completed-table td .table-avatar {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.completed-table {
  margin-bottom: 100px;
}
.download-table {
  width: 100%;
  margin-bottom: 40px;
}
.table-docx {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.delivered {
  color: #0cbf8a;
}
.removed {
  color: #e63e43;
}

/* **************************************** SITE TABS **************************************** */
.site-tabs__content {
  position: relative;
}

.remove-release {
  border: none;
  position: absolute;
  top: -35px;
  right: 36px;
  background-color: transparent;
  cursor: pointer;
  transform: translateY(23px);
}
.remove-release img {
  width: 44px;
  height: 44px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.tab {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.tab.active {
  color: #0cbf8a;
}

.tab:hover {
  color: #0cbf8a;
}

#release {
  max-width: 1220px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding: 40px 30px;
}
.release-one {
  border: none !important;
}
.release-block {
  display: flex;
  justify-content: space-between;
}

#singl-select {
  border: none;
  color: #0cbf8a;
  max-width: 100%;
  background: transparent;
  font-size: 17px;
  text-transform: capitalize;
}

#singl-select:focus {
  outline: none;
}

.release-add li {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}
.release-add li .release-txt {
  display: inline-block;
  width: 150px;
  font-weight: normal;
}

.name-album {
  font-size: 18px;
  display: inline-block;
  font-weight: 500;
  border-radius: 11px;
  color: #000;
  padding: 10px;
  border: 1px solid #d9d9d9;
}
.name-album::placeholder {
  color: #000;
}
.name-albumt:focus {
  outline: none;
}
.switch-block {
  width: 150px;
  text-align: end;
}
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;
  margin-right: auto;
  text-align: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a1a5ae;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0cbf8a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-txt {
  font-size: 14px;
  max-width: 215px;
}

.exe-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 278px;
  border: 1px solid #d9d9d9;
  border-radius: 11px;
  padding: 10px 15px;
  margin-left: 150px;
}

.exe-box__name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.exe-box__name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.exe-box__name p {
  font-size: 18px;
  color: #000;
}

.remove-exe-box {
  border: none;
  background-color: transparent;
  color: #e63e43;
  font-size: 33px;
  cursor: pointer;
  transform: rotate(45deg);
}
.exe-box__add {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.exe-box__add img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.genre,
.label {
  text-align: end;
}

/******************************* UPLOAD IMAGE ******************************/
.Neon {
  font-family: sans-serif;
  font-size: 14px;
  color: #494949;
  position: relative;
}
.Neon * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Neon-input-dragDrop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: #fff;
  border: 1px solid #a2a5ae;
  text-align: center;
  box-shadow: 6px 6px 16px #00000029;
  -webkit-transition: box-shadow 0.3s, border-color 0.3s;
  -moz-transition: box-shadow 0.3s, border-color 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s;
  border-radius: 10px;
}
.Neon-input-text h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
#filer_input2 {
  z-index: 999;
  opacity: 0;
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.img-size {
  font-size: 15px;
  color: #a2a5ae;
  text-align: center;
  margin-top: 20px;
}

/* PREGORESS BAR */

.progress-bar__wrapper {
  position: relative;
}
.progress-bar__value {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
progress {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #a2a5ae;
  transition: width 300ms ease;
}
progress[value]::-webkit-progress-bar {
  width: 100%;
  background-color: transparent;
  transition: width 300ms ease;
}
progress[value]::-webkit-progress-value {
  width: 0;
  background-color: #0ff3af;
  transition: width 300ms ease;
}

progress[value]::-moz-progress-bar {
  width: 0;
  background-color: #0ff3af;
  transition: width 300ms ease;
}

progress[value]::-moz-progress-value {
  width: 0;
  background-color: #0ff3af;
  transition: width 300ms ease;
}

.create-tracklist {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #a2a5ae;
  color: #000;
  padding: 10px 18px;
  border-radius: 20px;
  transition: all 0.2s ease;
}
.create-tracklist:hover {
  background-color: #0ff3af;
}
/* disk */
.disk-title {
  padding-left: 45px;
}
.disk-num {
  font-size: 15px;
  color: #a2a5ae;
}

.badge-danger {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background: #e63e43 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 3px 8px;
}

.add-section {
  color: #003a4c;
  margin-left: 45px;
}

/* Checkbox tree */

ul.tree,
ul.tree * {
  list-style-type: none;
  margin: 0;
  padding: 0 0 5px 0;
}

ul.tree img.arrow {
  padding: 2px 0 0 0;
  border: 0;
  width: 20px;
}

ul.tree li {
  padding: 4px 0 0 0;
}

ul.tree li ul {
  padding: 0 0 0 20px;
  margin: 0;
}

ul.tree label {
  cursor: pointer;
  font-weight: bold;
  padding: 2px 0;
  color: #0cbf8a;
  margin-left: 13px;
}

ul.tree li .arrow {
  width: 20px;
  height: 18px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  float: left;
  background: transparent no-repeat 0 0px;
}

ul.tree li .collapsed {
  background-image: url(../images/right.svg);
}

ul.tree li .expanded {
  background-image: url(../images/down.svg);
}

ul.tree li .checkbox {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  float: left;
  background-image: url(../images/unchecked.png);
  background-repeat: no-repeat;
  background-size: cover;
}

ul.tree li .checked {
  background-image: url(../images/checkmark.png);
}

ul.tree li .half_checked {
  background-image: url(../images/square-minus.svg);
}

.checktree-sub {
  display: flex;
}

.inner-tree {
  font-size: 18px;
  color: #000 !important;
  font-weight: normal !important;
}

.title-subtitle {
  color: #a2a5ae;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}

.badge-error {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  background: #e63e43;
  border-radius: 17px;
  padding: 7px 30px;
}

/* Custom select */
.disk-select {
  width: 90%;
  background-color: transparent;
  border: 1px solid #0cbf8a;
  border-radius: 11px;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: normal;
}
.disk-select__danger {
  border: 1px solid #e63e43;
}

.errors-block {
  display: flex;
  margin-bottom: 30px;
}
.errors-block span {
  display: block;
  color: #e63e43;
  font-size: 14px;
  font-weight: normal;
  flex: 0 0 100px;
}
.video-search {
  margin-bottom: 40px;
}
.video-search label {
  color: #a2a5ae;
  font-size: 17px;
  font-weight: normal;
  margin-right: 18px;
}

.video-search input {
  border: none;
  color: #000000;
  font-size: 18px;
  border-bottom: 1px solid #a2a5ae;
}

.video-search input:focus {
  outline: none;
}
.instrument-txt {
  color: #a2a5ae;
  font-weight: normal;
  font-size: 18px;
}

.release-add li.audio-player__block {
  display: flex;
  align-items: baseline;
  gap: 115px;
}

.audio-player__block-inner {
  display: flex;
  align-items: center;
  gap: 12px;
}

.audio-player__block-item2,
.audio-player__block-item1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.audio-player__block-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.audio-player__block-info label {
  width: 150px;
  display: block;
  font-weight: normal;
}
.prevyu {
  font-size: 17px;
  font-weight: normal;
  color: #000;
  border-radius: 11px;
  border: 1px solid #d9d9d9;
  padding: 10px 18px;
}

.audio-player__block-info .disk-select {
  width: auto;
}
.danger-txt {
  color: #e63e43;
}

.instrument-block {
  margin-top: 63px;
}

.radio_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  width: 250px;
  border-radius: 9999px;
  border: 1px solid #a2a5ae;
  overflow: hidden;
}

.radio_container input[type="radio"] {
  appearance: none;
  display: none;
}

.radio_container label {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  height: 100%;
  text-align: center;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  padding: 10px 14px;
}

.radio_container input[type="radio"]:checked + label {
  background-color: transparent;
  color: #000;
  font-weight: normal;
  border: 3px solid #0cbf8a;
  border-radius: 0;
  padding: 10px 14px;
}

#one:checked + label {
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  margin-left: -2px;
}

#three:checked + label {
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
  margin-right: -2px;
}

#song-txt {
  width: 610px;
  height: 150px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}

.track-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.save-btn {
  font-size: 15px;
  font-weight: bold;
  background: #1cf1b2;
  border-radius: 40px;
  padding: 10px 22px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.delete-btn {
  border: 1px solid #e63e43;
  background-color: transparent;
  color: #e63e43;
  font-weight: bold;
  font-size: 15px;
  border-radius: 40px;
  cursor: pointer;
  padding: 10px 22px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
}

.genre.genre-left,
.label.genre-left {
  text-align: left !important;
}

.track-switch {
  margin-left: 50px;
}

/* /release-view */

.release-view {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  margin-bottom: 60px;
}
.release-view__img img {
  box-shadow: 6px 6px 16px #00000029;
  border-radius: 10px;
}

.upc-txt {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}
.upc-txt span {
  color: #a2a5ae;
  display: inline-block;
  margin-right: 12px;
}
.release-view__info-title {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
}
.release-view__info-details {
  display: flex;
  gap: 140px;
}
.release-view__info-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.release-view__info-list li {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.release-view__info-list li span {
  display: block;
}

.upload-video {
  background: #f8f9f8;
  border-radius: 20px;
  border: none !important;
}

.upload-video__block {
  background-color: #fff;
}
.upload-video__block-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a2a5ae;
  padding: 20px;
}

.upload-video__block-header p {
  font-size: 20px;
  font-weight: 500;
}
.upload-video__block-header-btns {
  display: flex;
  gap: 10px;
}
.upload-video__block-header-btns button {
  border: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
}
.upload-video__block-header-btns button img {
  width: 23px;
  height: 23px;
}
.upload-video__block-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.video-upload-img {
  width: 136px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 9999px;
  padding: 30px;
  border: 1px solid #707070;
}
.card {
  border-radius: 10px;
  background-color: #ffffff;
}

.drop_box {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #000;
  text-align: center;
}
.drop_box p span {
  display: block;
  font-size: 14px;
  color: #696969;
}

.upload-video__block-body .btn {
  text-decoration: none;
  background-color: #0161d3;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 130px;
}

.upload-video__block-body .btn:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.upload-video__block-body .form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}
.upload-video__block-txt {
  text-align: center;
}
.upload-video__block-txt span {
  display: block;
}

.upload-video__block-txt a {
  color: #0961d4;
}

.video-release__view {
  border-radius: 20px;
  background: #f8f9f8;
  padding: 20px 25px;
}

.text-gray {
  font-size: 15px;
  color: #a2a5ae;
  margin-left: auto;
}

.video-release__view .release-view__info-list li {
  display: flex !important;
  justify-content: baseline !important;
  gap: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1400px) {
  .header .header-nav {
    margin: 0;
  }
  .header-nav__link {
    font-size: 18px;
  }
  .default-btn {
    margin-right: 54px;
  }
  .title h2 {
    font-size: 28px;
  }
  .at-work-table th:nth-child(2),
  .at-work-table td:nth-child(2),
  .completed-table th:nth-child(2),
  .completed-table td:nth-child(2) {
    padding-right: 20px;
  }
  .at-work-table th:nth-child(3),
  .at-work-table td:nth-child(3),
  .completed-table th:nth-child(3),
  .completed-table td:nth-child(3) {
    padding-right: 30px;
  }
  .at-work-table td,
  .completed-table td {
    font-size: 15px;
  }
  progress {
    height: 30px;
  }
  .progress-bar__value {
    font-size: 15px;
    font-weight: 500;
  }
  .disk-title {
    padding-left: 35px;
  }
  .inner-tree {
    font-size: 15px;
  }
  ul.tree label {
    margin-left: 10px;
  }
  .badge-error {
    font-size: 12px;
    padding: 7px 20px;
  }
  .release-add li,
  .name-album {
    font-size: 15px;
  }
  .table-name-th {
    width: 25%;
  }
  .disk-select {
    font-size: 15px;
  }
  .release-view__info-title {
    font-size: 26px;
  }
  .release-view__info-list li,
  .text-gray {
    font-size: 14px;
  }
  .text-gray {
    margin-left: 0;
  }
  .badge-danger {
    font-size: 11px;
  }
}
